<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Admin CP</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/admin">Main</a></li>
			<li><a href="/admin/artist">User</a></li>
			<li><a href="/admin/image">Image</a></li>
			<li><a href="/admin/division">Division</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	  	
	  	<p class="navbar-text navbar-right" style="margin-right:0px">Signed in as <span class="label label-danger">admin</span></p>
	</div>
</nav>