<meta charset="UTF-8">
<title>ADMIN CP</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/zoom.css">
<script src="/js/jquery/jquery-1.9.1.js"></script>
<script src="/js/zoom.js"></script>
<style>
	body 	{ padding-top:50px; }
</style>